html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;

}

body{
    margin: 0;
    padding: 0;
}

.first-image,.second-image,.third-image,.fourth-image{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.first-image{
    background-image: url(Assets/img2.jpg);
    min-height:550px;
    opacity: 0.9;
}

.second-image{
    background-image: url(Assets/img1.jpg);
    min-height:550px;
}

.third-image{
    background-image: url(Assets/img3.jpg);
    min-height:550px;
}

.fourth-image{
    background-image: url(Assets/img4.jpg);
    min-height:550px;
    opacity: 0.86;

}

section {
    text-align: center;
    padding: 8rem 16rem;
}

.section-light{
    background-color: #f4f4f4;
    color: #0f0f0f;
}
.second-dark{
    background-color: #56585b;
    color: #ddd;
}